<!DOCTYPE html>

<html>

    <head>

        <!-- Bootstrap CSS -->
        <% include ../partials/bootstrap.css.ejs %>

        <!-- Other Meta -->
        <title>Sykeben Test Best</title>

    </head>

    <body>

        <!-- Navbar -->
        <% include ../partials/navbar.ejs %>

        <!-- Main Content -->
        <div class="container-fluid p-3">
            <h1>Hello, World!</h1>
            <p class="lead">Welcome to the testbed.</p>
            <p>Here I will be testing all things Note.JS. Feel free to check out my <a class="text-primary" href="https://sykeben.github.io">website</a> for tutorials and other cool things!</p>
        </div>

        <!-- Bootstrap JS -->
        <% include ../partials/bootstrap.js.ejs %>
        
    </body>

</html>