<!DOCTYPE html>

<html>

    <head>

        <!-- Bootstrap CSS -->
        <% include ../partials/bootstrap.css.ejs %>

        <!-- Other Meta -->
        <title>Sykeben Test Best</title>

    </head>

    <body>

        <h1>Hello, World!</h1>

        <!-- Bootstrap JS -->
        <% include ../partials/bootstrap.js.ejs %>
        
    </body>

</html>